@media print {
    * {
        background-color: black !important;
    }
    *:before {
        background-color: black !important;
    }
    *:after {
     
      background-color: black !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  pre,
  code {
    font-family: 'Montserrat', sans-serif;
  }
  
  pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
    background-color: black !important;
  }
  
  a,
  a:visited {
    color: #3498db;
  }
  
  a:hover,
  a:focus,
  a:active {
    color: #2980b9;
  }
  
  .modest-no-decoration {
    text-decoration: none;
  }
  
  html {
      background-color: black !important;
    font-size: 12px;
  }
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    html {
      font-size: 16px;
    }
  }
  
  body {
    line-height: 1.85;
    background-color: black !important;
  }
  
  p,
  .modest-p {
    font-size: .8rem;
    font-weight: 300;
  }
  
  h1,
  .modest-h1,
  h2,
  .modest-h2,
  h3,
  .modest-h3,
  h4,
  .modest-h4 {
    margin: 1.414rem 0 .5rem;
    line-height: 1.42;
  }
  
  h1,
  .modest-h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }
  
  h2,
  .modest-h2 {
    font-size: 2.827rem;
  }
  
  h3,
  .modest-h3 {
    font-size: 1.999rem;
  }
  
  h4,
  .modest-h4 {
    font-size: 1.414rem;
  }
  
  h5,
  .modest-h5 {
    font-size: .8rem;
  }
  
  h6,
  .modest-h6 {
    font-size: .8rem;
  }
  
  small,
  .modest-small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
    margin-bottom: -3rem;
  }
  
  
  html {
    max-width: 100%;
    background-color: black !important;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    color: rgb(228, 228, 228) !important;
    background-color: black !important;
    margin: 0 auto;
    max-width: 48rem;
    line-height: 1.45;
    padding: 2rem;
    page-break-after: always;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5{
    font-family: 'Montserrat', sans-serif;
  }
  strong {
    font-weight: bold;
  }
  
  h1{
    border-bottom: 1px solid #fafafa;
    margin-bottom: 3rem;
    padding-bottom: .5rem;
    text-align: center;
  }
  h2{
    margin-bottom: 3.15rem;
    padding-bottom: .5rem;
    color: rgb(241, 184, 184) !important;
    text-shadow: 1px 1px 2px #9e1212;
  }
  h6 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -1rem;
    text-indent: 4.2rem;
    font-weight: 600;
    color: rgb(207, 206, 123) !important;
  }
  h5 {
    margin: 0;
    color: rgb(116, 116, 116);
    font-weight: 600;
  }
  h2 + h5{
    margin-top: -3.8rem;
  }

  h1 + h5 {
    margin-top: -2.8rem;
    text-align: right;
  }
  
  li {
    margin-top: 2rem;
  }
  hr {
    color: rgb(150, 150, 150);
  }
  
  blockquote {
    border-left: 8px solid rgb(207, 206, 123) !important;
     padding-left: 0.5rem;
    box-shadow: 1px 1px 2px #4b4b4b;

    border-radius: 5px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap');